@media(max-width: 66.5rem){
    html{
        font-size: 50%;
    }

    .ip-part{
        transform: translate(0,28rem);
    }

    .search-btn{
        height: 4.6rem;
    }
}

@media(max-width: 53.8rem){
    .ip-part{
        flex-direction: column;
        gap: 1.6rem;
        width: 40%;
        height: 40rem;
        justify-content: center;
        text-align: center;
        padding-right: 0;
        transform: translate(0,20rem);
    }

    .div{
        border-left: none;
        padding-left: 0;
    }
}

@media(max-width:36.6rem){

    html{
        font-size: 40%;
    }

    .title{
        margin-bottom: 3.2rem;
    }

    .ip-part{
        transform: translate(0,26rem);
        height: 35rem;
    }

    .search-btn{
        height: 5rem;
    }
}

@media(max-width: 27.9rem){
    html{
        font-size: 32%;
    }

    .title{
        margin-top: 10rem;
    }

    .ip-part{
        transform: translate(0,28rem);
    }

    p{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1rem;
    }

    .search-field::placeholder{
        font-size: 2.4rem;
    }

    .search-btn{
        height: 5.6rem;
        width: 4.8rem;
    }
}